<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Registrieren</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formate.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main class="center-wrap">
        <form class="card" method="POST" action="{{ url_for('register') }}">
            <h1>Registrieren</h1>

            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}

            <div class="form-row">
                <label for="username">Benutzername</label>
                <input id="username" name="username" placeholder="Dein Benutzername" />
            </div>

            <div class="form-row">
                <label for="password">Passwort</label>
                <input id="password" name="password" type="password" placeholder="Mindestens 6-7 Zeichen">
            </div>

            <button class="button1" type="submit">Registrieren</button>
        </form>
    </main>
</body>
</html>
    